{% extends "main.html" %}

{% block content %}

    <table class="table table-bordered">
      <tr>
          <th>
              Favourite recipes
          </th>
          <th>
              Favourite plans
          </th>
      </tr>
      <tr>
          <td>
          <ol>
          {% for row in favourite_recipes %}
              <li><a href="/recipe/{{ row.recipe.id }}">{{ row.recipe }}</a></li>
          {% endfor %}
          </ol>
          </td>
          <td>
          <ol>
          {% for row in favourite_plans %}
              <li><a href="/plans/{{ row.plan.id }}">{{ row.plan }}</a></li>
          {% endfor %}
          </ol>
          </td>
      </tr>
    </table>

{% endblock %}