{% extends "main.html" %}

{% block content %}

    {% if comment %}<p>{{ comment }}</p>{% endif %}

    <form method="post">
       {% csrf_token %}
       <h3 class="mb-5">Plan: {{ plan }}</h3>

            <div class="form-outline mb-4">
              {{ form.as_p }}
              {% if form_plan_recipe %}
              {{ form_plan_recipe }}
              {% endif %}
            </div>
                {% if form_plan_recipe %}
                <button class="btn btn-primary btn-lg btn-block" type="submit">Add to plan</button>
                {% else %}
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue</button>
                {% endif %}
                <button class="btn btn-secondary"
                        onclick="window.location.href='/profile';">
                        Save and finish</button>
            </div>
     </form>

    <div>
        <table>
        {% if monday %}
            <tr>
                <th>
                    Monday
                </th>
                <tbody class="table-group-divider">
                <td>
                    {% for row in monday %}
                        <p><strong>{{ row.get_meal_display }}:</strong></p>
                        <p>{{ row.recipe }} - {{ row.recipe.description }}</p>
                        <a href="/plans/remove/{{ plan.id }}/{{ row.id }}">
                            <span class="badge bg-primary rounded-pill">
                            Remove dish </span></a>
                        <a href="/plans/modify/{{ plan.id }}/{{ row.id }}">
                            <span class="badge bg-primary rounded-pill">
                            Modify dish </span></a>
                    {% endfor %}
                </td>
                </tbody>
            </tr>
        {% endif %}
        {% if tuesday %}
            <tr>
                <th>
                    Tuesday
                </th>
                <tbody class="table-group-divider">
                <td>
                    {% for row in tuesday %}
                        <p><strong>{{ row.get_meal_display }}:</strong></p>
                        <p>{{ row.recipe }} - {{ row.recipe.description }}</p>
                        <a href="/plans/remove/{{ plan.id }}/{{ row.id }}">
                            <span class="badge bg-primary rounded-pill">
                            Remove dish </span></a>
                        <a href="/plans/modify/{{ plan.id }}/{{ row.id }}">
                            <span class="badge bg-primary rounded-pill">
                            Modify dish </span></a>
                    {% endfor %}
                </td>
                </tbody>
            </tr>
        {% endif %}
        {% if wednesday %}
            <tr>
                <th>
                    Wednesday
                </th>
                <tbody class="table-group-divider">
                <td>
                    {% for row in wednesday %}
                        <p><strong>{{ row.get_meal_display }}:</strong></p>
                        <p>{{ row.recipe }} - {{ row.recipe.description }}</p>
                        <a href="/plans/remove/{{ plan.id }}/{{ row.id }}">
                            <span class="badge bg-primary rounded-pill">
                            Remove dish </span></a>
                        <a href="/plans/modify/{{ plan.id }}/{{ row.id }}">
                            <span class="badge bg-primary rounded-pill">
                            Modify dish </span></a>
                    {% endfor %}
                </td>
                </tbody>
            </tr>
        {% endif %}
        {% if thursday %}
            <tr>
                <th>
                    Thursday
                </th>
                <tbody class="table-group-divider">
                <td>
                    {% for row in thursday %}
                        <p><strong>{{ row.get_meal_display }}:</strong></p>
                        <p>{{ row.recipe }} - {{ row.recipe.description }}</p>
                        <a href="/plans/remove/{{ plan.id }}/{{ row.id }}">
                            <span class="badge bg-primary rounded-pill">
                            Remove dish </span></a>
                        <a href="/plans/modify/{{ plan.id }}/{{ row.id }}">
                            <span class="badge bg-primary rounded-pill">
                            Modify dish </span></a>
                    {% endfor %}
                </td>
                </tbody>
            </tr>
        {% endif %}
        {% if friday %}
            <tr>
                <th>
                    Friday
                </th>
                <tbody class="table-group-divider">
                <td>
                    {% for row in friday %}
                        <p><strong>{{ row.get_meal_display }}:</strong></p>
                        <p>{{ row.recipe }} - {{ row.recipe.description }}</p>
                        <a href="/plans/remove/{{ plan.id }}/{{ row.id }}">
                            <span class="badge bg-primary rounded-pill">
                            Remove dish </span></a>
                        <a href="/plans/modify/{{ plan.id }}/{{ row.id }}">
                            <span class="badge bg-primary rounded-pill">
                            Modify dish </span></a>
                    {% endfor %}
                </td>
                </tbody>
            </tr>
        {% endif %}
        {% if saturday %}
            <tr>
                <th>
                    Saturday
                </th>
                <tbody class="table-group-divider">
                <td>
                    {% for row in saturday %}
                        <p><strong>{{ row.get_meal_display }}:</strong></p>
                        <p>{{ row.recipe }} - {{ row.recipe.description }}</p>
                        <a href="/plans/remove/{{ plan.id }}/{{ row.id }}">
                            <span class="badge bg-primary rounded-pill">
                            Remove dish </span></a>
                        <a href="/plans/modify/{{ plan.id }}/{{ row.id }}">
                            <span class="badge bg-primary rounded-pill">
                            Modify dish </span></a>
                    {% endfor %}
                </td>
                </tbody>
            </tr>
        {% endif %}
        {% if sunday %}
            <tr>
                <th>
                    Sunday
                </th>
                <tbody class="table-group-divider">
                <td>
                    {% for row in sunday %}
                        <p><strong>{{ row.get_meal_display }}:</strong></p>
                        <p>{{ row.recipe }} - {{ row.recipe.description }}</p>
                        <a href="/plans/remove/{{ plan.id }}/{{ row.id }}">
                            <span class="badge bg-primary rounded-pill">
                            Remove dish </span></a>
                        <a href="/plans/modify/{{ plan.id }}/{{ row.id }}">
                            <span class="badge bg-primary rounded-pill">
                            Modify dish </span></a>
                    {% endfor %}
                </td>
                </tbody>
            </tr>
        {% endif %}
        </table>
    </div>



{% endblock %}