{% extends "main.html" %}

{% block content %}

    {% if comment %}<p>{{ comment }}</p>{% endif %}

    <form method="post">
       {% csrf_token %}
       <h3 class="mb-5">Plan:</h3>

            <div class="form-outline mb-4">
              {{ form.as_p }}
              {% if form_plan_recipe %}
              {{ form_plan_recipe }}
              {% endif %}
            </div>
                {% if form_plan_recipe %}
                <button class="btn btn-primary btn-lg btn-block" type="submit">Add to plan</button>
                {% else %}
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue</button>
                {% endif %}
                <button class="btn btn-secondary" type="submit" name="save">Save and finish later</button>
            </div>
     </form>

    <div>
        <table>
            <tr>
                <th>
                    Monday
                </th>
                <tbody class="table-group-divider">
                <td>
                    {% for row in monday %}
                        <p>{{ row.get_meal_display }}:</p>
                        <p>{{ row.recipe }} - {{ row.recipe.description }}</p>
                    {% endfor %}
                </td>
                </tbody>
            </tr>
            <tr>
                <th>
                    Tuesday
                </th>
                <tbody class="table-group-divider">
                <td>
                    {% for row in tuesday %}
                        <p>{{ row.get_meal_display }}:</p>
                        <p>{{ row.recipe }} - {{ row.recipe.description }}</p>
                    {% endfor %}
                </td>
                </tbody>
            </tr>
            <tr>
                <th>
                    Wednesday
                </th>
                <tbody class="table-group-divider">
                <td>
                    {% for row in wednesday %}
                        <p>{{ row.get_meal_display }}:</p>
                        <p>{{ row.recipe }} - {{ row.recipe.description }}</p>
                    {% endfor %}
                </td>
                </tbody>
            </tr>
            <tr>
                <th>
                    Thursday
                </th>
                <tbody class="table-group-divider">
                <td>
                    {% for row in thursday %}
                        <p>{{ row.get_meal_display }}:</p>
                        <p>{{ row.recipe }} - {{ row.recipe.description }}</p>
                    {% endfor %}
                </td>
                </tbody>
            </tr>
            <tr>
                <th>
                    Friday
                </th>
                <tbody class="table-group-divider">
                <td>
                    {% for row in friday %}
                        <p>{{ row.get_meal_display }}:</p>
                        <p>{{ row.recipe }} - {{ row.recipe.description }}</p>
                    {% endfor %}
                </td>
                </tbody>
            </tr>
            <tr>
                <th>
                    Saturday
                </th>
                <tbody class="table-group-divider">
                <td>
                    {% for row in saturday %}
                        <p>{{ row.get_meal_display }}:</p>
                        <p>{{ row.recipe }} - {{ row.recipe.description }}</p>
                    {% endfor %}
                </td>
                </tbody>
            </tr>
            <tr>
                <th>
                    Sunday
                </th>
                <tbody class="table-group-divider">
                <td>
                    {% for row in sunday %}
                        <p>{{ row.get_meal_display }}:</p>
                        <p>{{ row.recipe }} - {{ row.recipe.description }}</p>
                    {% endfor %}
                </td>
                </tbody>
            </tr>
        </table>
    </div>



{% endblock %}