{% extends "main.html" %}

{% block content %}

    {% if user.is_authenticated %}
    <a href="/new_plan/"><span class="badge bg-primary rounded-pill">
        create new plan </span></a>
    <a href="/new_plan/"><span class="badge bg-primary rounded-pill">
        automatic plan creator </span></a>
    {% endif %}

    <form method="post">
    {% csrf_token %}

        <table class="table borderless">
            <tbody>
            <tr>
                <th scope="row" class="col-2">Keyword:</th>
                <td class="col-7">
                    <input class="w-100 p-1" name="search">
                </td>
            </tbody>
        </table>
        <button class="btn btn-primary btn-sm btn-block"
                type="submit">
                search</button>
    </form>

<ol class="list-group list-group-numbered">
    {% for plan in plans %}
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold" >{{ plan.name }}</div>
            {{ plan.description }}
        </div>
        <a href="{{ plan.get_absolute_url }}"><span class="badge bg-primary rounded-pill">
            Details </span></a>
        <a href="/plans/modify/{{ plan.id }}"><span class="badge bg-primary rounded-pill">
            Modify plan </span></a>
      </li>
    {% empty %}
        <h5>No plan was found with this search conditions.</h5>
    {% endfor %}
</ol>

{% endblock %}