{% extends "main.html" %}

{% block content %}
    {% if comment %}<p style="color: darkred">{{ comment }}</p>{% endif %}
    <table class="table borderless">
        <tbody>
            <tr>
                <th scope="row" class="col-2">Name</th>
                <th scope="row" class="col-2">Ingredients</th>
                <th scope="row" class="col-2">Description</th>
                <th scope="row" class="col-2">Category</th>
                <th scope="row" class="col-2">Type</th>
                <th scope="row" class="col-2">Created and updated</th>
            </tr>
            <tr>
                <td>
                    {{ recipe }}
                    {% if favourite_mark %}<span style="color: greenyellow"
                                                 class="badge bg-primary rounded-pill">
                    favourite </span>{% endif %}
                </td>
                <td>
                    {% for ingredient in recipe.ingredients.all %}
                    {{ ingredient.name|lower }}<br>
                    {% endfor %}
                </td>
                <td>
                    {{ recipe.description }}
                </td>
                <td>
                    {{ recipe.get_category_display }}
                </td>
                <td>
                    {{ recipe.get_type_display }}
                </td>
                <td>
                    created by: {{ plan.created_by }}<br>
                    {{ recipe.created }}, {{ recipe.updated }}
                </td>
            </tr>
        </tbody>
    </table>
    <strong>Macros:</strong>
    <table class="table borderless">
        <tbody>
            <tr>
                <th scope="row" class="col-2">Carbs</th>
                <th scope="row" class="col-2">Fats</th>
                <th scope="row" class="col-2">Proteins</th>
                <th scope="row" class="col-2"
                    style="color: darkolivegreen">Calories</th>
            </tr>
            <tr>
                <td>
                    {{ macros.carbs }}
                </td>
                <td>
                    {{ macros.fats }}
                </td>
                <td>
                    {{ macros.proteins }}
                </td>
                <td>
                    {{ macros.calories}}
                </td>
            </tr>
        </tbody>
    </table>
    <strong>Specials and dangers:</strong>
    <table class="table borderless">
        <tbody>
        {% for ingredient in recipe.ingredients.all %}
            <tr>
                {% if ingredient.specials %}
                <td class="table-success">
                    {{ ingredient.name|lower }}: {{ ingredient.specials }}
                </td>
                {% endif %}
                {% if ingredient.dangers %}
                <td class="table-danger">
                    {{ ingredient.name|lower }}: {{ ingredient.dangers }}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if user.is_authenticated %}
    <a href="/modify_recipe/{{ recipe.id }}"><span class="badge bg-primary rounded-pill">
        Modify </span></a>
    <a href="/delete_recipe/{{ recipe.id }}"><span class="badge bg-primary rounded-pill">
        Delete </span></a>
    <a href="/add_recipe/{{ recipe.id }}"><span class="badge bg-primary rounded-pill">
        Add to favourites </span></a>
    <a href="/remove_recipe/{{ recipe.id }}"><span class="badge bg-primary rounded-pill">
        Remove from favourites </span></a>
    <a href="/new_modified_recipe/{{ recipe.id }}"><span class="badge bg-primary rounded-pill">
        Create new recipe based on this one </span></a>
    {% endif %}

{% endblock %}